<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Choose Game!</title>
</head>

<body>
    
    <header>
        <h1>Pick A Game!</h1>
    </header>

    <div class="image-container">
        <a href="#"><img href="../../assets/images/hangman.png"></a>
        <a href="#"><img href="../../assets/images/snake.jpg"></a>
        <a href="#"><img href="../../assets/images/tictactoe.jpg"></a>
    </div>
</body>
