{{!-- make some href anchors for the game options. It looks like it will be snake hangman and tic tac toe --}}




{{!-- tic tac toe --}}
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Nic Tac Toe</span>
        </div>
        <div class="card-content">
          <p>Something clever about nic Cage</p>
        </div>
        <div class="card-action">
          <a href="/views/nictactoe.handlebars">This is a link</a>
        </div>
      </div>
    </div>
  </div>
{{!-- hangman --}}
    <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Hangman</span>
        </div>
        <div class="card-content">
          <p>Nic Cage dies if you lose</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
{{!-- snake --}}
    <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Snake</span>
        </div>
        <div class="card-content">
          <p>"I am a snake" - Nic Cage</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>