<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hang Man!</title>
    <link href="/css/tictactoe.css" rel="stylesheet">    
  </head>

  <div class="row arcadia">Try to be a winner just like Nicolas Cage!
        </div>

          <div>

            <h2>Player Score: <span class="player-score"></span></h2>
            <h2>AI Score:  <span class="ai-score"></span></h2>

          </div>
        <br>
        
        <table class="board">
            <tr>
                <td class="cell" id="0"></td>
                <td class="cell" id="1"></td>
                <td class="cell" id="2"></td>
            </tr>
            <tr>
                <td class="cell" id="3"></td>
                <td class="cell" id="4"></td>
                <td class="cell" id="5"></td>
            </tr>
            <tr>
                <td class="cell" id="6"></td>
                <td class="cell" id="7"></td>
                <td class="cell" id="8"></td>
            </tr>
        </table>
        </div>
        <br>
        <div class="endgame">
                <div class="text"></div>
                <button onclick="startGame()">Restart</button>
        
        
        <script src="/js/minimax.js"></script>
{{!-- {{else}}
<a href="/login">You must login first to view this page</a>
{{/if}} --}}