html {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

canvas {
    margin-top: 100px;
    margin-left: 100px;
}

#banner {
    /* margin: auto; */
    width: 100%;
    /* padding: 10px; */
    text-align: center;

}

#arcade {
    font-size: 20px;
    text-align: center;
}

footer {
    text-align: center;
}

#card-directions {
    float: left;
    padding-top: 100px;
    /* width: 288px; */
    /* height: 745px; */
    align-items: center;
}

#card-right {
    float: right;
    /* padding-bottom: 50px; */
    /* width: 287px; */
    /* height: 745px; */


}

#nick-flat {
    width: 282px;
    height: 150px;
    margin-top: -200px;
    border: 1px solid green;
}

#score-text {
    text-align: center;
    /* margin-top: -100; */
    border-bottom: 2px;
    border-bottom-style: solid;
}

#score {
    text-align: center;
}

#score-actual {
    text-align: center;
}

#directions {
    text-align: center;
    margin-top: -100px;
}