html {
    background-color: aqua;
    font-family: comic sans ms;
    font-weight: bolder;
}
​
canvas {
    margin-top: 100px;
    margin-left: 472px;
}
​
#banner {
    margin: auto;
    width: 100%;
    background-color: rgb(1, 82, 82);
    border: 3px solid green;
    /* padding: 10px; */
    text-align: center;
​
}
​
#arcade {
    font-size: 20px;
    text-align: center;
}
​
#nicky-left {
    float: left;
    display: flex;
    height: 25.6%;
    max-width: 14.9%;
    text-align: center;
​
}
​
#nicky-right {
    float: right;
    display: flex;
    height: 25.6%;
    max-width: 14.9%;
    text-align: center;
​
}
​
footer {
    text-align: center;
}
​
#card-directions {
    float: left;
    padding-top: 200px;
    width: 288px;
    height: 745px;
    border: 3px solid green;
    align-items: center;
    background-color: lime;
}
​
#card-right {
    float: right;
    padding-top: 200px;
    width: 287px;
    height: 745px;
    border: 3px solid green;
    align-items: center;
    background-color: lime;
}
​
#nick-flat {
    width: 282px;
    height: 150px;
    margin-top: -200px;
    border: 1px solid green;
}
​
#score-text {
    text-align: center;
    margin-top: -100;
    border-bottom: 2px;
    border-bottom-style: solid;
}
​
#score {
    text-align: center;
}
​
#directions {
    text-align: center;
    margin-top: -100px;
}